nav{
    display: flex;
    font-weight: 600;
}
#item1, #item2,#item3 {
    margin-right: 40px;
    cursor: pointer;
}
#item1:hover, #item2:hover,#item3:hover{
    transform: scale(1.1);
}
#login {
    text-align: end;
    border-radius: 50%;
}
#welcome{
    display: flex;
    justify-content: center;
}
body{
   background-color: rgb(3, 50, 34);
   color: aliceblue;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    border-radius: 10%;
    cursor: pointer;

}
.grid-item:hover {
    transform: scale(1.1);
}
.popup{
display: flex;
flex-direction: column;
height: 100vh;
width: 100vw;
justify-content: center;
align-items: center;
background-color: rgba(255, 255, 255, 0.02);
animation: popup 1s forwards;
}

.hide{
    display: none;
}

.show
{
    display: block;
}
.ans {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 20px;
    column-gap: 20px;
}
.option {
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: 40vw;
    text-align: center;
    font-weight: 600;
}
.option:hover {
    background-color: rgb(245, 196, 150);
}
@keyframes popup {
    from{
    opacity: 0;
    transform: scale(1.1);
    }
    to{
    opacity: 1;
    }
}